{% extends "base.html.twig" %}

{% block content %}

    <div class="row">

        <div class="col-md-8 col-sm-12">

            <div class="content-background" >
                <div class="content">

                    <div align="right"><a href="{{ path('app_grave_add') }}" title="Graves" class="btn btn-primary">Add Grave</a></div>

                    <h2>Graves:</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Grave ID</th>
                            <th scope="col">Grave Reference</th>
                            <th scope="col">Cemetery</th>
                            <th scope="col">Deceased</th>
                            <th scope="col">Location</th>
                            <th scope="col">Position</th>
                            <th scope="col">Grave Type</th>
                            <th scope="col">Status</th>
                            <th scope="col">Acquisition</th>
                            <th scope="col">Description</th>
                            <th scope="col">Date Created</th>
                            <th scope="col">Date Modified</th>
                        </tr>
                        </thead>
                        <tbody>
                         {% for grave in graves['hydra:member'] %}
                        <tr>
                            <td>{{ (grave["id"]) }}</td>
                            <td>{{ (grave["graveReference"]) }}</td>
                            <td>{{ (grave["cemetery"]) }}</td>
                            <td>{{ (grave["deceased"]) }}</td>
                            <td>{{ (grave["location"]) }}</td>
                            <td>{{ (grave["position"]) }}</td>
                            <td>{{ (grave["graveType"]) }}</td>
                            <td>{{ (grave["status"]) }}</td>
                            <td>{{ (grave["acquisition"]) }}</td>
                            <td>{{ (grave["description"]) }}</td>
                            <td>{{ (grave["dateCreated"]) }}</td>
                            <td>{{ (grave["dateModified"]) }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div><!-- /.content -->
            </div><!-- /.content-background -->
        </div><!-- /.col -->
    </div>

{% endblock %}
