{% extends "base.html.twig" %}

{% block content %}
<div class="row">

    <div class="col-md-8 col-sm-12">
        <div class="content-background" >
            <div class="content">
                <h2>Begrafenisplanner (in development)</h2>
                <br>
                <h3>DISCLAIMER</h3>

                <p>Dit is geen eindproduct maar een test en demo omgeving van de Begrafenisplanner. <br>
                    Voor meer informatie over dit project: <a href="https://github.com/VNG-Realisatie/Begrafenisplanner">Klik hier</a></p>

            </div><!-- /.content -->
        </div><!-- /.content-background -->
    </div><!-- /.col -->

    <div class="col-md-4  col-sm-12">

        {% if user is not empty%}
            <div class="content-background">

                <div class="content">
                    <h2>Uw gegevens</h2>
                    <ul class="definition-list">
                        <li class="definition-list__item definition-list__item--horizontal">
                            <div class="definition-list__title">
                                Voornamen
                            </div>
                            <div class="definition-list__description">
                                <p>{{ user.naam.voornamen }}</p>
                            </div>
                        </li>
                        <li class="definition-list__item definition-list__item--horizontal">
                            <div class="definition-list__title">
                                Achternaam
                            </div>
                            <div class="definition-list__description">
                                <p>{{ user.naam.geslachtsnaam }}</p>
                            </div>
                        </li>
                        {% if user.naam.voorvoegsel is not empty%}
                            <li class="definition-list__item definition-list__item--horizontal">
                                <div class="definition-list__title">
                                    Voorvoegsel
                                </div>
                                <div class="definition-list__description">
                                    <p>{{ user.naam.voorvoegsel }}</p>
                                </div>
                            </li>
                            <li class="definition-list__item definition-list__item--horizontal">
                                <div class="definition-list__title">
                                    Leeftijd
                                </div>
                                <div class="definition-list__description">
                                    <p>{{ user.leeftijd }}</p>
                                </div>
                            </li>
                            <li class="definition-list__item definition-list__item--horizontal">
                                <div class="definition-list__title">
                                    Geslacht
                                </div>
                                <div class="definition-list__description">
                                    <p>{{ user.geslachtsaanduiding }}</p>
                                </div>
                            </li>
                        {% endif %}
                        <li class="definition-list__item definition-list__item--horizontal">
                            <div class="definition-list__title">
                                Addres
                            </div>
                            <div class="definition-list__description">
                                <p>{{ user.verblijfplaats.straatnaam }} {{ user.verblijfplaats.huisnummer }}{{ user.verblijfplaats.huisletter }}{{ user.verblijfplaats.huisnummertoevoeging }}
                                    <br>{{ user.verblijfplaats.postcode }} {{ user.verblijfplaats.woonplaatsnaam }}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        {% endif %}
    </div>

</div>
{% endblock %}
