{% extends "base.html.twig" %}

{% block content %}

    <div class="row">

        <div class="col-md-auto col-sm-auto">

            <div class="content-background" >
                <div class="content">

                    <div align="right"><a href="{{ path('app_gravecover_add') }}" title="Gravecover" class="btn btn-primary">Add GraveCover</a></div>

                    <h2>Grafcovers:</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Grave Cover ID</th>
                            <th scope="col">Reference</th>
                            <th scope="col">Description</th>
                            <th scope="col">Date Created</th>
                            <th scope="col">Date Modified</th>
                        </tr>
                        </thead>
                        <tbody>

                         {% for gravecover in gravecovers['hydra:member'] %}
                        <tr>
                            <td>{{ (gravecover["id"]) }}</td>
                            <td>{{ (gravecover["reference"]) }}</td>
                            <td>{{ (gravecover["description"]) }}</td>
                            <td>{{ (gravecover["dateCreated"]) }}</td>
                            <td>{{ (gravecover["dateModified"]) }}</td>
                        </tr>
                       {% endfor %}
                        </tbody>
                    </table>

                </div><!-- /.content -->
            </div><!-- /.content-background -->
        </div><!-- /.col -->
    </div>

{% endblock %}
