{% extends "base.html.twig" %}

{% block content %}


    <div class="row">

        <div class="col-md-7  col-sm-12">

            <div class="content-background">
                <div class="content">
                    <h2>Begraafplaats</h2>

                    <p>Hier komt input velden e.d.</p>

                    <a class="btn" href="{{ path('app_begrafenisplanner_begraafplaats') }}">Dit is een knop</a>

                </div><!-- /.content -->
            </div><!-- /.content-background -->
        </div><!-- /.col -->

        <div class="col-md-5 col-sm-12">

            <div class="content-background" >
                <div class="content">

                    <div class="content-background">
                        <div class="content">
                            <h2>Stappen</h2>
                            <ul class="list list--timeline list--timeline-compact">
                                <li class="list__item list__item--active"><a href="{{ path('app_begrafenisplanner_begraafplaats') }}">Begraafplaats</a></li>
                                <li class="list__item"><a href="{{ path('app_begrafenisplanner_begraafplaats') }}">Datum & Tijd</a></li>
                                <li class="list__item"><a href="{{ path('app_begrafenisplanner_begraafplaats') }}">Artikelen</a></li>
                                <li class="list__item"><a href="{{ path('app_begrafenisplanner_begraafplaats') }}">Overledene</a></li>
                                <li class="list__item"><a href="{{ path('app_begrafenisplanner_begraafplaats') }}">Belanghebbende</a></li>
                                <li class="list__item list__item--disabled"><a href="{{ path('app_begrafenisplanner_begraafplaats') }}">Bevestiging</a></li>
                            </ul>
                        </div>
                    </div>

                </div><!-- /.content -->
            </div><!-- /.content-background -->

            <!-- Page Break -->
            <div style="height: 20px"></div>

            <div class="content-background" >
                <div class="content">

                    <h2>Begrafenis</h2>

                    <ul class="definition-list">
                        <li class="definition-list__item definition-list__item--horizontal">
                            <div class="definition-list__title">
                                Begraafplaats
                            </div>
                            <div class="definition-list__description">
                                <p>Gekozen begraafplaats</p>
                            </div>
                        </li>
                        <li class="definition-list__item definition-list__item--horizontal">
                            <div class="definition-list__title">
                                Datum & Tijd
                            </div>
                            <div class="definition-list__description">
                                <p>Gekozen Datum & Tijd</p>
                            </div>
                        </li>
                        <li class="definition-list__item definition-list__item--horizontal">
                            <div class="definition-list__title">
                                Artikelen
                            </div>
                            <div class="definition-list__description">
                                <p>Gekozen Artikelen</p>
                            </div>
                        </li>
                        <li class="definition-list__item definition-list__item--horizontal">
                            <div class="definition-list__title">
                                Overledene
                            </div>
                            <div class="definition-list__description">
                                <p>Gekozen Overledene</p>
                            </div>
                        </li>
                        <li class="definition-list__item definition-list__item--horizontal">
                            <div class="definition-list__title">
                                Belanghebbende
                            </div>
                            <div class="definition-list__description">
                                <p>Gekozen Belanghebbende</p>
                            </div>
                        </li>
                    </ul>

                </div><!-- /.content -->
            </div><!-- /.content-background -->

        </div><!-- /.col -->
    </div>
{% endblock %}
