<script>
    function enableGrafsoort()
    {
        var dropdownBegraafplaats = document.getElementById("dropdown-{{ property.name }}");
        var dropdownGrafsoort = document.getElementById("dropdown-grafsoort");
        if(dropdownBegraafplaats.selectedIndex != 0) {
            dropdownGrafsoort.disabled = false;
        }
    }
</script>

{% set cemeteries = commonground_resource_list({'component':'grc', 'type':'cemeteries'})['hydra:member'] %}
<div class="input combobox" id="{{ property.name }}_combobox">
    <div class="input__hint">Selecteer een {{ property.title }}</div>
    <select name="properties[{{ property.name }}]" onclick="enableGrafsoort()" id="dropdown-{{ property.name }}" class="input__control input__control--m input__control--select">
        <option hidden="" value='{"Cemetery":"Selecteer een {{ property.title }}","Organization":"Selecteer een {{ property.title }}"}'>Selecteer een {{ property.title }}</option>
        {% for cemetery in cemeteries %}
            <option value='{"Cemetery":"{{ cemetery['@id'] }}","Organization":"{{ cemetery['organization'] }}"}'>{{ cemetery['reference'] }}</option>
        {% endfor %}
    </select>
</div>

<script>
    var dropdownBegraafplaats = document.getElementById("dropdown-{{ property.name }}");
    var dropdownGemeente = document.getElementById("dropdown-gemeente");
    var selectedIndex = 0;

    {% if request.properties.gemeente is not defined or request.properties.gemeente is empty %}
    dropdownBegraafplaats.disabled = true;
    {% elseif request.properties.begraafplaats is defined and request.properties.begraafplaats is not empty %}
    for (var i=0; i < dropdownBegraafplaats.length; i++) {
        var begraafplaats = JSON.parse(dropdownBegraafplaats[i].value);
        if(begraafplaats.Cemetery == "{{ request.properties.begraafplaats }}") {
            selectedIndex = i;
        }
    }
    {% endif %}
    dropdownBegraafplaats.selectedIndex = selectedIndex;
</script>
