    <nav class=" {% if application is defined and application.defaultConfiguration.configuration.colorScheme is defined  %}{{ application.defaultConfiguration.configuration.colorScheme }}{% else %}background--donkerblauw{% endif %}" id="docs-nav">
        <div class="container">
            <div class="top-nav__block top-nav-autoresize">
                <ul class="nav">
                {% if application is defined and application.defaultConfiguration.configuration is defined and application.defaultConfiguration.configuration.mainMenu is defined  %}
                    {% set menu = commonground_resource(application.defaultConfiguration.configuration.mainMenu) %}
                    {% for item in menu.menuItems %}
                        <li class="nav__item">
                            <a href="{{ item.href }}" title="Home" class="nav__link  ">
                                <i class="{{ item.icon }}" role="presentation"></i>
                                <span>{{ item.name }}</span>
                            </a>
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="nav__item">
{#                        <a href="{{ path('app_default_index') }}" title="Home" class="nav__link  ">#}
                            <i class="icon icon-home" role="presentation"></i>
                            <span>Home</span>
                        </a>
                    </li>
                {% endif %}
                {% if user is defined and user is not empty %}
                    <li class="nav__item"><a class="nav__link " href="app_logout">Uitloggen</a></li>
                {% else %}
                    <li class="nav__item">
                        <a href="https://digispoof.processen.zaakonline.nl/?responceUrl={{ absolute_url(path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))) }}" title="Home" class="nav__link  ">
                            <i class="icon icon-user" role="presentation"></i>
                            <span>Inloggen</span>
                        </a>
                    </li>
                {% endif %}
                </ul>
            </div>
        </div>

    </nav>
