{% if process.name == "Begraven" and ( request.properties.begraafplaats is not defined or request.properties.begraafplaats is empty ) %}
    <p>Er is nog geen begraafplaats geselecteerd!</p>
{% else %}
    {% if request.properties.begraafplaats is defined and request.properties.begraafplaats is not empty %}
        {% set begraafplaats = commonground_resource(request.properties.begraafplaats) %}
        {% set groups = commonground_resource_list({'component':'pdc', 'type':'groups'}, {'sourceOrganization': request.properties.begraafplaats })['hydra:member'] %}
    {% endif %}
    {% if groups is defined and groups is not empty %}
        <h3>{{ section.description }}</h3>
        <fieldset class="input filter" id="{{ property.name }}">
            <legend class="filter__title">{{ property.title }}:</legend>
            <ul class="input__group-list">
                {% for group in groups %}
                    <li class="input__group input__group--checkbox">
                        <h3>{{ group.name }}</h3>
                        <ul>
                            {% for product in group.products %}
                                {% for offer in product.offers %}
                                    <li><input type="checkbox" class="input__control input__control--checkbox" value="{{ offer.name }}" name="properties[{{ group.name }}][]" id="{{ offer.name | replace({' ':''}) }}"><label for="{{ offer.name | replace({' ':''}) }}" class="input__label input__label--checkbox">{{ offer.name }}</label></li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </fieldset>
    {% else %}
        <p>Dit werkt nog niet voor het process {{ process.name }}.</p>
        <p>Of er zijn geen product groepen voor {{ property.name }} aanwezig.</p>
    {% endif %}
{% endif %}
