<div class="content-background">
    <div class="content">
        <script>
            var ingeschrevenpersonen = [

                {% for ingeschrevenpersoon in ingeschrevenpersonen %}
                {
                    bsn: '{{ ingeschrevenpersoon['burgerservicenummer'] }}',
                    voornamen: '{{ ingeschrevenpersoon['naam']['voornamen'] }}',
                    geslachtsnaam: '{{ ingeschrevenpersoon['naam']['geslachtsnaam'] }}',
                    url: 'https://brp.dev.begraven.zaakonline.nl/ingeschrevenpersonen/uuid/{{ ingeschrevenpersoon['id'] }}'
                },
                {% endfor %}
            ];
        </script>
        <script>
            function FindBsn() {
                var selectedbsn = document.getElementById("bsn").value;
                var selectedIngeschrevenpersoonBsn = "";

                for (var i = 0; i < ingeschrevenpersonen.length;i++) {
                    if(ingeschrevenpersonen[i]['bsn'] == selectedbsn){
                        selectedIngeschrevenpersoonBsn = ingeschrevenpersonen[i]['url'];
                        document.getElementById("p_bsn").innerHTML = "bsn: " + ingeschrevenpersonen[i]['bsn'];
                        document.getElementById("p_naam").innerHTML = "naam: " + ingeschrevenpersonen[i]['voornamen'] + " " + ingeschrevenpersonen[i]['geslachtsnaam'];
                        break;
                    }
                }
                if(selectedIngeschrevenpersoonBsn == "")
                {
                    alert("BSN niet gevonden!");
                }

                var selectedIngeschrevenpersoon = document.getElementById("selectedIngeschrevenpersoon");
                selectedIngeschrevenpersoon.value = selectedIngeschrevenpersoonBsn;
            }
        </script>

        <h2>Belanghebbende</h2>

        <!-- Page Break -->
        <div style="height: 20px;"></div>

        <h3>Zoek op Bsnnummer</h3>
        <div class="input input--horizontal">

            <input type="text" id="bsn" aria-describedby="hint_name" class="input__control input__control--text input__control--s">
        </div>
        <div class="input">
            <button type="button" onclick="FindBsn()" class="btn btn--primary" name="select" value="bsn">Zoeken</button>
        </div>

        <div>
            <p id="p_bsn">bsn: </p>
            <p id="p_naam">naam: </p>
        </div>
        <script>
            {% if selectedBelanghebbende is defined %}
                document.getElementById("p_bsn").innerHTML = "bsn: {{ selectedBelanghebbende['burgerservicenummer'] }}";
                document.getElementById("p_naam").innerHTML = "naam: {{ selectedBelanghebbende['naam']['voornamen'] }} {{ selectedBelanghebbende['naam']['geslachtsnaam'] }}";
            {% endif %}
        </script>

        <input hidden="" id="selectedIngeschrevenpersoon" name="properties[belanghebbende]">

        {#
            <div class="input">
                <button type="submit" class="btn" name="submit" value="save">Opslaan</button> of naar de <a href="{{ path('app_begrafenisplannen_overledene') }}">vorige stap</a>
            </div>
        #}

    </div><!-- /.content -->
</div><!-- /.content-background -->
