{% extends "base.html.twig" %}

{% block content %}

    <div class="row">

        <div class="col-md-7  col-sm-12">

            <div class="content-background">
                <div class="content">
                    <h2>Begraafplaats</h2>

                    <!-- Page Break -->
                    <div style="height: 20px;"></div>

                    <form class="form" method="post" action="#">
                        <h3>Selecteer een gemeente</h3>
                        <div class="input combobox" id="gemeente_combobox">
                            <input
                                class="combobox__input input__control input__control--text input__control--xl input__control--select"
                                id="autocomplete-gemeente">
                        </div>
                        <div class="input">
                            <button type="submit" class="btn btn--primary" name="select" value="gemeente">Selecteren</button>
                        </div>

                        <!-- Page Break -->
                        <div style="height: 20px;"></div>

                        <h3>Selecteer een begraafplaats</h3>
                        <div class="input combobox" id="begraafplaats_combobox">
                            <input
                                disabled=""
                                class="combobox__input input__control input__control--text input__control--xl input__control--select"
                                id="autocomplete-begraafplaats">
                        </div>
                        <div class="input">
                            <button disabled="" type="submit" class="btn btn--primary" name="select" value="begraafplaats">Selecteren</button>
                        </div>

                        <!-- Page Break -->
                        <div style="height: 20px;"></div>

                        <h3>Selecteer een grafsoort</h3>
                        <div class="input combobox" id="grafsoort_combobox">
                            <input
                                disabled=""
                                class="combobox__input input__control input__control--text input__control--xl input__control--select"
                                id="autocomplete-grafsoort">
                        </div>
                        <div class="input">
                            <button disabled="" type="submit" class="btn btn--primary" name="select" value="grafsoort">Selecteren</button>
                        </div>

                        <!-- Page Break -->
                        <div style="height: 20px;"></div>

                        <div class="input">
                            <button type="submit" class="btn" name="submit" value="save">Opslaan</button> of naar <a href="{{ path('app_default_index') }}">home</a>
                        </div>
                    </form>

                </div><!-- /.content -->
            </div><!-- /.content-background -->
        </div><!-- /.col -->

        <div class="col-md-5 col-sm-12">

    <div class="content-background" >
        <div class="content">

            <div class="content-background">
                <div class="content">
                    <h2>Stappen</h2>
                    <ul class="list list--timeline list--timeline-compact">
                        <li class="list__item list__item--active"><a href="{{ path('app_begrafenisplannen_begraafplaats') }}">Begraafplaats</a></li>
                        <li class="list__item"><a href="{{ path('app_begrafenisplannen_datumtijd') }}">Datum & Tijd</a></li>
                        <li class="list__item"><a href="{{ path('app_begrafenisplannen_artikelen') }}">Artikelen</a></li>
                        <li class="list__item"><a href="{{ path('app_begrafenisplannen_overledene') }}">Overledene</a></li>
                        <li class="list__item"><a href="{{ path('app_begrafenisplannen_belanghebbende') }}">Belanghebbende</a></li>
                        <li class="list__item list__item--disabled"><a href="{{ path('app_begrafenisplannen_bevestiging') }}">Bevestiging</a></li>
                    </ul>
                </div>
            </div>

        </div><!-- /.content -->
    </div><!-- /.content-background -->

    <!-- Page Break -->
    <div style="height: 20px"></div>

    <div class="content-background" >
        <div class="content">

            <h2>Begrafenis</h2>

            <ul class="definition-list">
                <li class="definition-list__item definition-list__item--horizontal">
                    <div class="definition-list__title">
                        Begraafplaats
                    </div>
                    <div class="definition-list__description">
                        <p>Gekozen begraafplaats</p>
                    </div>
                </li>
                <li class="definition-list__item definition-list__item--horizontal">
                    <div class="definition-list__title">
                        Datum & Tijd
                    </div>
                    <div class="definition-list__description">
                        <p>Gekozen Datum & Tijd</p>
                    </div>
                </li>
                <li class="definition-list__item definition-list__item--horizontal">
                    <div class="definition-list__title">
                        Artikelen
                    </div>
                    <div class="definition-list__description">
                        <p>Gekozen Artikelen</p>
                    </div>
                </li>
                <li class="definition-list__item definition-list__item--horizontal">
                    <div class="definition-list__title">
                        Overledene
                    </div>
                    <div class="definition-list__description">
                        <p>Gekozen Overledene</p>
                    </div>
                </li>
                <li class="definition-list__item definition-list__item--horizontal">
                    <div class="definition-list__title">
                        Belanghebbende
                    </div>
                    <div class="definition-list__description">
                        <p>Gekozen Belanghebbende</p>
                    </div>
                </li>
            </ul>

        </div><!-- /.content -->
    </div><!-- /.content-background -->

</div><!-- /.col -->
</div>

{% endblock %}
