{% extends "base.html.twig" %}

{% block content %}

    <div class="row">

        <div class="col-md-auto col-sm-auto">

            <div class="content-background" >
                <div class="content">

                    <h2>Calendar Test Weergaven:</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Calendar ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Timezone</th>
                            <th scope="col">Date Created</th>
                            <th scope="col">Date Modified</th>
                        </tr>
                        </thead>
                        <tbody>

                         {% for calendar in calendars['hydra:member'] %}
                        <tr>
                            <td>{{ (calendar["id"]) }}</td>
                            <td>{{ (calendar["name"]) }}</td>
                            <td>{{ (calendar["description"]) }}</td>
                            <td>{{ (calendar["timeZone"]) }}</td>
                            <td>{{ (calendar["dateCreated"]) }}</td>
                            <td>{{ (calendar["dateModified"]) }}</td>
                        </tr>
                       {% endfor %}
                        </tbody>
                    </table>

                </div><!-- /.content -->
            </div><!-- /.content-background -->
        </div><!-- /.col -->
    </div>

{% endblock %}
